### Crypto FEAR & GREED INDEX

This code gets the raw Fear & Greed data from API, cleans it, and returns a dataframe with:
1) fear&greed index;
2) classification (Fear, Greed, Neutral);
3) date.

In [ ]:
#extract raw data from API:
import requests
import pandas as pd
def get_index():
    url = f"https://api.alternative.me/fng/"
    try:
        response = requests.get(url)
        response.raise_for_status()
        data = response.json()
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error getting fear&greed index: {e}")
        return None

In [ ]:
#see what raw data looks like:
index = get_index()
index

{'name': 'Fear and Greed Index',
 'data': [{'value': '49',
   'value_classification': 'Neutral',
   'timestamp': '1759276800',
   'time_until_update': '47754'}],
 'metadata': {'error': None}}

In [ ]:
#extract index, classification, transform seconds in timestamp to date, rename columns, and return a dataframe:
from datetime import datetime, timedelta
def clean_index(data):
    if not data and 'data' not in data:
        print("No index in the data.")
        return None
    try:
        data_list = data['data']
        df = pd.DataFrame(data_list)
        df['timestamp'] = pd.to_numeric(df['timestamp'], errors = "coerce")
        df['timestamp'] = pd.to_datetime(df['timestamp'], unit = 's')
        df.rename(columns = {'value': 'index', 'value_classification': 'classification', 'timestamp': 'date'}, inplace = True)
        df=df[['index', 'classification', 'date']]
        return df
    except Exception as e:
        print(f"Error cleaning fear&greed data: {e}")
        return None

In [20]:
fear_greed_index = clean_index(index)
fear_greed_index

  index classification       date
0    49        Neutral 2025-10-01

This code gets the raw S&P500 data from yfinance library, cleans it, and returns a dataframe with:
1) stock market value;
2) date.

In [68]:
#import yfinance library, use class Ticker to get the stock market data, and then use method "history" to get the specific duration, for example 1 month.
import yfinance as yf
def get_stockmarket():
    try:
        data = yf.Ticker("^GSPC").history(period = '1mo')
        return data
    except Exception as e:
        print(f"Error getting stock market data: {e}")
        return None

In [69]:
#see what raw stock market data looks like:
stockmarket = get_stockmarket()
stockmarket

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-09-02 00:00:00-04:00,6401.509766,6416.540039,6360.580078,6415.540039,4784000000,0.0,0.0
2025-09-03 00:00:00-04:00,6445.819824,6453.669922,6416.169922,6448.259766,4465360000,0.0,0.0
2025-09-04 00:00:00-04:00,6456.600098,6502.540039,6445.979980,6502.080078,4670770000,0.0,0.0
2025-09-05 00:00:00-04:00,6529.080078,6532.649902,6443.979980,6481.500000,5066120000,0.0,0.0
2025-09-08 00:00:00-04:00,6498.089844,6508.669922,6483.290039,6495.149902,5211500000,0.0,0.0
2025-09-09 00:00:00-04:00,6503.330078,6518.229980,6483.080078,6512.609863,4798350000,0.0,0.0
2025-09-10 00:00:00-04:00,6550.290039,6555.970215,6516.339844,6532.040039,5253010000,0.0,0.0
2025-09-11 00:00:00-04:00,6554.410156,6592.890137,6545.799805,6587.470215,5426460000,0.0,0.0
2025-09-12 00:00:00-04:00,6590.660156,6600.209961,6579.490234,6584.290039,4641640000,0.0,0.0
2025-09-15 00:00:00-04:00,6603.490234,6619.620117,6602.069824,6615.279785,5045020000,0.0,0.0
2025-09-16 00:00:00-04:00,6624.129883,6626.990234,6600.109863,6606.759766,5359510000,0.0,0.0
2025-09-17 00:00:00-04:00,6604.870117,6624.390137,6551.149902,6600.350098,5805340000,0.0,0.0
2025-09-18 00:00:00-04:00,6626.850098,6656.799805,6611.890137,6631.959961,5292400000,0.0,0.0
2025-09-19 00:00:00-04:00,6647.109863,6671.819824,6630.310059,6664.359863,9125960000,0.0,0.0
2025-09-22 00:00:00-04:00,6654.279785,6698.879883,6648.069824,6693.750000,5642620000,0.0,0.0
2025-09-23 00:00:00-04:00,6692.439941,6699.520020,6645.580078,6656.919922,5633620000,0.0,0.0
2025-09-24 00:00:00-04:00,6669.790039,6672.660156,6621.759766,6637.970215,5459180000,0.0,0.0
2025-09-25 00:00:00-04:00,6608.189941,6619.000000,6569.220215,6604.720215,5874670000,0.0,0.0
2025-09-26 00:00:00-04:00,6615.379883,6648.970215,6604.430176,6643.700195,5103110000,0.0,0.0
2025-09-29 00:00:00-04:00,6661.580078,6677.310059,6644.490234,6661.209961,5358760000,0.0,0.0
2025-09-30 00:00:00-04:00,6656.189941,6691.250000,6641.000000,6688.459961,6057210000,0.0,0.0

#clean the raw stock market data:
1) format the "date" column;
2) get only columns "Date" and "Close" because we only need the date and the stock market value - delete the rest;
3) reset index.

In [70]:
from datetime import datetime

def clean_stockmarket(data):
    if data.empty:
        print("No stockmarket data")
        return None
    try:
        df = data.reset_index()[['Close', 'Date']].copy()
        df["Date"] = df["Date"].dt.date
        df.rename(columns = {"Date": 'date', 'Close': 'stockmarket_value'}, inplace = True)
        return df
    except Exception as e:
        print(f"Error cleaning stock market data: {e}")
        return None

In [71]:
cleaned_stockmarket = clean_stockmarket(stockmarket)
cleaned_stockmarket

    stockmarket_value        date
0         6415.540039  2025-09-02
1         6448.259766  2025-09-03
2         6502.080078  2025-09-04
3         6481.500000  2025-09-05
4         6495.149902  2025-09-08
5         6512.609863  2025-09-09
6         6532.040039  2025-09-10
7         6587.470215  2025-09-11
8         6584.290039  2025-09-12
9         6615.279785  2025-09-15
10        6606.759766  2025-09-16
11        6600.350098  2025-09-17
12        6631.959961  2025-09-18
13        6664.359863  2025-09-19
14        6693.750000  2025-09-22
15        6656.919922  2025-09-23
16        6637.970215  2025-09-24
17        6604.720215  2025-09-25
18        6643.700195  2025-09-26
19        6661.209961  2025-09-29
20        6688.459961  2025-09-30

This code returns a dataframe that contains inflation data as a float number, its estimate - "High" or "Low", and a date.

1) Get Consumer Price Index (CPI) from World Bank API;
2) Calculate Monthyl Inflation rate = ((Current month CPI / Previous month CPI) - 1) * 100;
3) Annualize inflation = ((1 + Monthly Inflation rate / 100) ** 12 - 1) * 100;
4) Compare Annualized inflation to the Central Bank target annual inflation, which is 2%:
- if Annulized inflation > 2%, inflation is "High".
- if Annualized inflation <= 2%, inflation is "Low".

In [90]:
# For this type of data, World Bank provides API key upon request. That means, the api key should be kept secret.
# To keep my api key secret, I create .env file, save my key there, add the file to .gitignore, and access the key through dotenv:
import os
from dotenv import load_dotenv
load_dotenv()
def get_cpi():
    key = os.getenv('api_key')
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id=CPIAUCSL&api_key={key}&file_type=json&sort_order=desc"
    try:
        response = requests.get(url)
        response.raise_for_status()
        data = response.json()
        return data
    except Exception as e:
        print(f"Error getting Consumer Price Index: {e}")
        return None

In [91]:
#see what the cpi data looks like:
cpi = get_cpi()
cpi

{'realtime_start': '2025-09-11',
 'realtime_end': '2025-09-11',
 'observation_start': '1600-01-01',
 'observation_end': '9999-12-31',
 'units': 'lin',
 'output_type': 1,
 'file_type': 'json',
 'order_by': 'observation_date',
 'sort_order': 'desc',
 'count': 944,
 'offset': 0,
 'limit': 100000,
 'observations': [{'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-08-01',
   'value': '323.364'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-07-01',
   'value': '322.132'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-06-01',
   'value': '321.500'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-05-01',
   'value': '320.580'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-04-01',
   'value': '320.321'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-03-01',
   'value': '319.615'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-02-01',
   'value': '319.775'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2025-01-01',
   'value': '319.086'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-12-01',
   'value': '317.603'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-11-01',
   'value': '316.449'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-10-01',
   'value': '315.564'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-09-01',
   'value': '314.851'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-08-01',
   'value': '314.131'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-07-01',
   'value': '313.566'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-06-01',
   'value': '313.131'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-05-01',
   'value': '313.140'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-04-01',
   'value': '313.016'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-03-01',
   'value': '312.107'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-02-01',
   'value': '311.022'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2024-01-01',
   'value': '309.794'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-12-01',
   'value': '308.735'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-11-01',
   'value': '308.087'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-10-01',
   'value': '307.653'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-09-01',
   'value': '307.374'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-08-01',
   'value': '306.138'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-07-01',
   'value': '304.615'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-06-01',
   'value': '304.099'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-05-01',
   'value': '303.316'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-04-01',
   'value': '302.858'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-03-01',
   'value': '301.643'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-02-01',
   'value': '301.476'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2023-01-01',
   'value': '300.456'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-12-01',
   'value': '298.808'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-11-01',
   'value': '298.708'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-10-01',
   'value': '297.979'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-09-01',
   'value': '296.421'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-08-01',
   'value': '295.162'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-07-01',
   'value': '294.940'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-06-01',
   'value': '295.072'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-05-01',
   'value': '291.299'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-04-01',
   'value': '288.582'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-03-01',
   'value': '287.467'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-02-01',
   'value': '284.525'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2022-01-01',
   'value': '282.542'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-12-01',
   'value': '280.806'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-11-01',
   'value': '278.824'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-10-01',
   'value': '276.528'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-09-01',
   'value': '273.942'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-08-01',
   'value': '272.752'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-07-01',
   'value': '271.965'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-06-01',
   'value': '270.710'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-05-01',
   'value': '268.404'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-04-01',
   'value': '266.625'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-03-01',
   'value': '264.847'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-02-01',
   'value': '263.573'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2021-01-01',
   'value': '262.639'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-12-01',
   'value': '262.045'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-11-01',
   'value': '260.911'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-10-01',
   'value': '260.319'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-09-01',
   'value': '259.997'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-08-01',
   'value': '259.316'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-07-01',
   'value': '258.352'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-06-01',
   'value': '257.042'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-05-01',
   'value': '255.802'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-04-01',
   'value': '256.032'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-03-01',
   'value': '258.076'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-02-01',
   'value': '259.250'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2020-01-01',
   'value': '259.127'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-12-01',
   'value': '258.630'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-11-01',
   'value': '257.879'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-10-01',
   'value': '257.155'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-09-01',
   'value': '256.430'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-08-01',
   'value': '256.036'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-07-01',
   'value': '255.802'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-06-01',
   'value': '255.213'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-05-01',
   'value': '255.296'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-04-01',
   'value': '255.233'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-03-01',
   'value': '254.277'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-02-01',
   'value': '253.319'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2019-01-01',
   'value': '252.561'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-12-01',
   'value': '252.767'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-11-01',
   'value': '252.594'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-10-01',
   'value': '252.772'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-09-01',
   'value': '252.182'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-08-01',
   'value': '251.663'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-07-01',
   'value': '251.214'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-06-01',
   'value': '251.018'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-05-01',
   'value': '250.792'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-04-01',
   'value': '250.227'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-03-01',
   'value': '249.577'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-02-01',
   'value': '249.529'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2018-01-01',
   'value': '248.859'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-12-01',
   'value': '247.805'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-11-01',
   'value': '247.284'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-10-01',
   'value': '246.626'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-09-01',
   'value': '246.435'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-08-01',
   'value': '245.183'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-07-01',
   'value': '244.243'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-06-01',
   'value': '244.163'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-05-01',
   'value': '244.004'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-04-01',
   'value': '244.193'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-03-01',
   'value': '243.892'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-02-01',
   'value': '244.006'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2017-01-01',
   'value': '243.618'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-12-01',
   'value': '242.637'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-11-01',
   'value': '242.026'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-10-01',
   'value': '241.741'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-09-01',
   'value': '241.176'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-08-01',
   'value': '240.545'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-07-01',
   'value': '240.101'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-06-01',
   'value': '240.222'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-05-01',
   'value': '239.557'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-04-01',
   'value': '238.992'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-03-01',
   'value': '238.080'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-02-01',
   'value': '237.336'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2016-01-01',
   'value': '237.652'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-12-01',
   'value': '237.761'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-11-01',
   'value': '238.017'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-10-01',
   'value': '237.733'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-09-01',
   'value': '237.498'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-08-01',
   'value': '238.033'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-07-01',
   'value': '238.034'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-06-01',
   'value': '237.657'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-05-01',
   'value': '237.001'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-04-01',
   'value': '236.222'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-03-01',
   'value': '235.976'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-02-01',
   'value': '235.342'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2015-01-01',
   'value': '234.747'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-12-01',
   'value': '236.252'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-11-01',
   'value': '236.983'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-10-01',
   'value': '237.430'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-09-01',
   'value': '237.477'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-08-01',
   'value': '237.460'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-07-01',
   'value': '237.498'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-06-01',
   'value': '237.231'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-05-01',
   'value': '236.918'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-04-01',
   'value': '236.468'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-03-01',
   'value': '236.028'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-02-01',
   'value': '235.547'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2014-01-01',
   'value': '235.288'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-12-01',
   'value': '234.719'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-11-01',
   'value': '234.100'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-10-01',
   'value': '233.669'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-09-01',
   'value': '233.544'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-08-01',
   'value': '233.456'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-07-01',
   'value': '232.900'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-06-01',
   'value': '232.445'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-05-01',
   'value': '231.893'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-04-01',
   'value': '231.797'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-03-01',
   'value': '232.282'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-02-01',
   'value': '232.937'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2013-01-01',
   'value': '231.679'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-12-01',
   'value': '231.221'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-11-01',
   'value': '231.249'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-10-01',
   'value': '231.638'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-09-01',
   'value': '231.015'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-08-01',
   'value': '229.918'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-07-01',
   'value': '228.590'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-06-01',
   'value': '228.524'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-05-01',
   'value': '228.713'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-04-01',
   'value': '229.187'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-03-01',
   'value': '228.807'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-02-01',
   'value': '228.329'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2012-01-01',
   'value': '227.842'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2011-12-01',
   'value': '227.223'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2011-11-01',
   'value': '227.169'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2011-10-01',
   'value': '226.750'},
  {'realtime_start': '2025-09-11',
   'realtime_end': '2025-09-11',
   'date': '2011-09-01',
   'value': '226.597'},

In [108]:
#get the Current month CPI and Previous month CPI:
from datetime import datetime
def get_cpi_value(data):
    if not data or 'observations' not in data:
        print("No cpi value in the data.")
        return None
    try:
        raw = data['observations']
        raw = pd.DataFrame(raw)
        df = raw.reset_index()[['date', 'value']].copy()
        df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
        df['value'] = pd.to_numeric(df['value'])
        df.sort_values(by = 'date', ascending = False)
        df = df.iloc[0:2]
        return df
    except Exception as e:
        print(f"Error getting cpi value: {e}")
        return None

In [109]:
cpi_value = get_cpi_value(cpi)
cpi_value

        date    value
0 2025-08-01  323.364
1 2025-07-01  322.132

In [111]:
# Calculate Monthyl Inflation rate = ((Current month CPI / Previous month CPI) - 1) * 100
monthly_inflation_rate = ((cpi_value['value'][0] / cpi_value['value'][1]) - 1) * 100
monthly_inflation_rate = round(monthly_inflation_rate, 2)
monthly_inflation_rate

np.float64(0.38)

In [112]:
annualized_inflation = ((1 + monthly_inflation_rate / 100) ** 12 - 1) * 100
annualized_inflation = round(annualized_inflation, 2)
annualized_inflation

np.float64(4.66)

In [ ]:
# create dataframe that contains inflation estimate for each date:
date_now = datetime.now().date()
inflation = pd.DataFrame(data={'date': [date_now], 'inflation': ['High' if annualized_inflation > 2 else 'Low']})
inflation

         date inflation
0  2025-10-01      High